	html {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		margin: 0;
	}

	header .mobile {
		display: none;
	}

	header {
		height: 80px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #aecbde;
		position: fixed;
		width: 100%;
		background-color: white;
	}


	header .content {
		flex-grow: 1;
		padding-left: 24px;
	}

	nav {
		font-size: 20px;
		padding-right: 24px
	}

	nav ul {
		display: flex;
	}

	nav ul li {
		padding-left: 16px;
	}

	.repoIcons img {
		height: 32px;
		width: 32px;
		color: rgb(0,128,178);
	}

	/* main banner */
	.content {
		display: flex;
		align-items: center;
	}

	.content img {
		height: 32px;
		width: auto;
	}

	#fontStyle1 {
		font-weight: 700;
		opacity: 0.8;
		font-size: 2.3rem;
		font-family: 'Bangers';
	}

	#fontStyle2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-weight: 500;
		font-size: 2.3rem;
		opacity: 0.4;
		font-family: 'Bangers';
	}

	.container {
		display: flex;
		padding: 2rem 1.5rem;
		background-color: #F7F7F7;
	}

	.main_container {
		height: 662px;
		width: auto;
	}

	.banner {
		height: 100%;
		width: auto;
		background-image: url(../images/front_end.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	/* main information*/
	.aboutme {
		width: 60%;
		padding: 2rem 1.5rem;
	}

	.aboutme h1 {
		padding-top: 2rem; 	
		color: rgb(0,128,178);
		font-size: 1.7rem;
		font-weight: bold;
	}

	.aboutme p {
		padding-top: 1.5rem;
		padding-bottom: 2rem;
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.subInfo {
		width: 40%;
		display: flex;
		flex-direction: column;
		background-color: #FFF;
		box-sizing: border-box;
		border: 1pc solid #EEE;
		padding: 2rem 1.5rem;
	}

	.subInfo h1 {
		padding-top: 1rem; 	
		color: rgb(0,128,178);
		font-size: 1.7rem;
		font-weight: bold;
	}

	.subInfo p {
		padding-top: 1.5rem;
		padding-bottom: 2rem;
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.addInfoRight { 
		width: 48%;
		display: flex;
		flex-direction: column;
		padding: 2rem 1.5rem;
		background-color: #F7F7F7;
		height: 500px;
	}

	.personal  {
		width: 100%;
		display: flex;
		border-bottom: 1px solid #aecbde;
	}

	.personal:hover {
		background-color: rgb(203,188,148);
		transition: 300ms 100ms;
		cursor: pointer;
	}

	.personImg {
		max-width: 100%;
		height: auto;
	}

	.media-content {
		width: 40%;
		display: flex;
	}

	.section {
		display: flex;
		flex-direction: column;
		width: 60%;
		padding-left: 16px
	}

	.head {
		font-weight: 600;
		padding-bottom: 1rem;
		padding-top: 16px;
		font-size: 1.4rem;
	}

	.text {
		font-size: 1.2rem;
		line-height: 1.5rem;
		padding-bottom: 0.5rem;
	}

	/* main information*/
	.space {	
		padding-top: 2rem;
		padding-bottom: 1rem;
		background-color: #F7F7F7;
	}

	.why {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		background-color: #F7F7F7;	
	}

	.reason {
		padding-bottom: 2rem;
		width: 30%;
	}

	.topic {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-weight: 550;
		font-size: 1.4rem;
		color: black;
	}

	h3.feature {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}

	.reason-image {
		background-color: white;
	}

	.reason-image img {
		height: auto;
		width: 100%;
		background-color: white;
	}

	.Info {
		height: 100px;
		padding: 1rem 0rem 1.5rem 1rem;
		background-color: white;
	}

	span.description {
		font-size: 1.2rem;
	}

	/* main information*/
	.addInfo {
		width: 52%;
		padding: 2rem 1.5rem;
		background-color: #F7F7F7;
		height: 500px;
		overflow: hidden
	}

	#videoDesp {
		padding-bottom: 15px;
		color: rgb(0,128,178);
		font-size: 1.7rem;
		font-weight: bold;
	}

	#videoText {
		padding-bottom: 30px;
		font-size: 1.3rem;
		line-height: 1.5rem
	}

	p.favPics {
		padding-bottom: 3rem;
	}

	footer {
		font-size: 150px;
	}

	.social-media {
		background-color: #white;
		padding: 2rem;
	}

	.social-icon {
		color: black;
		width: 50px;
	}

	#icons {
		display: flex;
		justify-content: space-evenly;
		font-size: 32px;

	}

	/* MEDIA QUERY*/

	@media screen and (max-width: 600px) {
		header .desktop {
			display: none;
		}

		header .mobile {
			display: block;
			width: 100%;
		}

		header .content {
			padding-left: 1rem;
		}

		header .content span{
			display: none;
		}

		header .mobile ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
		}

		header .mobile li {
			padding: 0;
		}

		.main_container {
			flex-direction: column;
			height: 400px;
			padding-top: 25px;
		}

		.banner {
			width: 100%;
			padding: 0rem;
		}

		.banner img {	
			width: auto;
			overflow: hidden;
		}

		.container {
			flex-wrap: wrap;
		}
		.aboutme {
			width: 100%
		}

		.subInfo {
			width: 100%

		}
		.desktop {
			display: none;
		}

		.addInfoRight {
			width: 100%;
			height: 350px;
		}

		.addInfo {
			width: 100%;
			display: block;
		}

		.why{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			background-color: #F7F7F7;	
		}

		.reason {
			padding-bottom: 2rem;
			width: 100%;
		}
	}
